.authorization-input {
  width: 60%;

  &__header {
    margin: 20px 0 5px;
  }

  &__field {
    width: 100%;
    line-height: 25px;
  }

  &__error {
    margin: 4px 0;
    font-size: 12px;
    color: red;
  }
}
